@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  @apply text-pri-green;
}

.hero-img {
  @apply w-full h-full object-cover;
  background: url("src/assets/homepage/headerImg.png") no-repeat;
  background-size: cover;
  object-position: 0 -20px;
}

@media screen and (max-width: 768px) {
  .hero-img { 
    background: url("src/assets/homepage/smheaderImg.png") no-repeat;
    background-size: 100% 100%;
  }
}
