@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  @apply text-pri-green;
}

.hero-img {
  object-position: 0 -20px;
  object-fit: cover;
}
