@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar { 
  width: 0;
}

.active {
  @apply text-pri-green;
}

.hero-img {
  background: url("https://s6.imgcdn.dev/9MMgg.md.png") no-repeat;
  background-size: cover;
  object-position: 0 -20px;
  @apply w-full h-full object-cover;
}

@media screen and (max-width: 768px) {
  .hero-img { 
    background: url("https://s6.imgcdn.dev/9M4SN.md.png") no-repeat;
    background-size: 100% 100%;
  }
}

.bg-gallery {
  background: url("https://s6.imgcdn.dev/96xMu.png");
  @apply bg-pri-heading;
}